
<div class = "whole">
<div class="header-container">
  <div>
      <h1 class = "heading" style = "padding-left: 60px;">Contact Our</h1>
      <h2>Customer Support Center</h2>
  </div>
  <img src="laptoppic.jpg" alt="Laptop">
</div>
<div class = "other-container">
<h3 style = "padding-left: 200px;">Contact Information</h3>
<p style = "padding-left: 170px;">Please fill out your contact information below.</p>
</div>


<div class = "form-container">
<label for = "name">Name<span class="mandatory">*</span></label>
<br>
<input type = "text" style="width: 300px;">
<input type = "text" style="width: 300px;" class="spacing">
<p class = "theight">First Name<span style="padding: 280px;">Last Name</span></p>

<label for = "email" style="padding-top: 5px;">Email<span class="mandatory">*</span></label>
<br>
<input type = "text" style="width: 625px;"><br>

<label for = "phone" style="padding-top: 10px;">Phone<span class="mandatory">*</span></label>
<br>
<input type = "text" style="width: 625px;"><br>

<label for = "address" style="padding-top: 10px;">Address<span class="mandatory">*</span></label>
<br>
<input type = "text" style="width: 625px;">
</div>

</div>